/* HEADER */
.header {
    background-color: #485568;
    /* change header background color  */
    display: flex;
}

.head {

    margin-left: 10px;
    width: 33%;
    display: flex;
    margin: 20px;
    margin-left: 5%;
    display: flex;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#head1 {
    justify-content: center;
    width: 100%;

    margin-top: 28px;
}

#head {
    justify-content: end;
    margin-right: 5%;
}

.logout {
    margin-left: 20px;
}

.logout-text {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}

.icon {
    text-align: center;
    margin-left: -4px;
}

/* heading */
.main {
    display: flex;

}

.heading {
    text-align: left;
}

hr {
    width: 100%;
    margin-left: 8px;

}

#myimg {
    color: red;
}

/* HEADER ENDS */


/* NAVBAR STARTS */


.nav-bar-section {

    background: #F2F2F2;
    border: 1px solid #CECECE;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

.drop-effect {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.18);
}

/* NAVBAR ENDS */



/* NOTICE AREA STARTS*/
.notice-area {
    height: 36px;
    width: 100%;
    background: #8EADFD;
    /* change background color of notice-area */
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.notice-item {
    float: right;
    margin-right: 5.5%;
    margin-top: 4px;

}

/* NOTICE AREA ENDS*/


/* notice area start close*/

/* DIVIDER STARTS*/

.area21 {
    background-color: #fff;
    padding: 6px;
    padding-left: 5%;
    padding-right: 6%;
    margin-top: 8px;
}



.area2-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.area21-item {
    display: flex;
    align-items: center;
}

.area2-icon {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.area2-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.area2-hr {
    flex: 1;
    margin-left: 16px;

}

.area2-icon-arrow {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.area2-icon-back {
    height: 17px;
    width: 33px;
}

/* DIVIDER ENDS*/


.pd {
    width: 89%;
    display: flex;
    border: 1px solid #CECECE;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

}

.pd1 {
    background-color: #EEF3FF;;
    width: 89%;
    display: flex;
    border: 1px solid #CECECE;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

}


.pd2 {
    background-color: #FFFFFF;
    width: 89%;
    display: flex;
    border: 1px solid #CECECE;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%);
   height:84px;;
}

.t1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    width: 50%;
}

.t1-table {
    width: 95%;

}

.t2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    width: 50%;
}

.t2-table {
    width: 80%;
}

th,
td {
    padding: 7px;
}

.SDU {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 17px 0px 28px;
    gap: 8px;
    float: right;
    width: 172px;
    height: 60px;
    margin-right: 5%;

    background: #243C79;
    border-radius: 4px;

}

.SDU1 {


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 17px 0px 28px;
    gap: 8px;
    float: right;
    width: 172px;
    height: 28px;
    margin-right: 5%;

    background: #243C79;
    border-radius: 4px;

}

.SDU-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    /* identical to box height, or 286% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;

    color: #FFFFFF;
}

.last-section {

    margin-top: 10px;
    width: 90%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 8px;
    justify-content: center;
    display: flex;
}

.last-section1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    width: 33%;
    padding-bottom: 10px;

}

.last-section2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    text-align: left;
    width: 33%;
    padding-bottom: 10px;
}

.last-section3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    text-align: left;
    width: 33%;
    padding-bottom: 10px;
}


.s2-last-section1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    width: 20%;
    padding-bottom: 10px;

}

.s2-last-section2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    width: 20%;
    padding-bottom: 10px;

}

.s2-last-section3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    width: 20%;
    padding-bottom: 10px;

}

.s2-last-section4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    width: 20%;
    padding-bottom: 10px;

}

.s2-last-section5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    width: 20%;
    padding-bottom: 10px;

}

.s2-last-section6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    width: 20%;
    padding-bottom: 10px;

}

.s3-last-section1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    width: 25%;
    padding-bottom: 10px;

}

.s3-last-section2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    width: 25%;
    padding-bottom: 10px;

}

.s3-last-section3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    width: 25%;
    padding-bottom: 10px;

}

.s3-last-section4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    width: 25%;
    padding-bottom: 10px;

}

.process-section {
    padding-left: 15px;
    padding-top: 15px;
    text-align: left;
    width: 90%;
    background: #EEF3FF;
    border: 1px solid #CECECE;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(22.5px);
    border-radius: 8px;
}

.process-text
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
}

.application-request
{
    width: 89%;
    display: flex;
    margin-top:10px;
    background: #FFFFFF;
border: 1px solid #EEF3FF;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
backdrop-filter: blur(22.5px);
border-radius: 9px;
    
}

.application-request-text
{
    width: 30%;
    display: flex;
    padding-left:15px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 40px;
}

.application-request-option
{
    margin-top:5px;
    padding-left:15px;
    width: 60%;
    display: flex;
}

.form123
{
    margin-left: 15px;
}


.blue-box{
background: #EEF3FF;
/* Transparent Dark/05 */
border: 0.5px solid rgba(0, 0, 0, 0.05);
/* Button/Shadow */
box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.05);
border-radius: 4px;
width: 70%;
height: 25px;text-align: center;
float: left;
}


select {
    width: 70%;
    border: none;
    color: black;
    font-size: 11px;
    padding: 2px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }


  .white-box {
    background: white;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0.5px 1px rgb(0 0 0 / 10%), 0px 1px 1px rgb(0 0 0 / 5%);
    border-radius: 4px;
    width: 82%;
    height: 24px;
    text-align: center;
    float: left;
    margin-left: -80px;
}


.white-box-5 {
    background: white;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0.5px 1px rgb(0 0 0 / 10%), 0px 1px 1px rgb(0 0 0 / 5%);
    border-radius: 4px;
    width: 40%;
    height: 24px;
    text-align: center;
    float: left;
    margin-left: -15px;
}

.select1
{   background-color: #EEF3FF;
    width: 70%;
    border: none;
    color: black;
    font-size: 11px;
    padding: 2px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.white-box-5-a {
    background: #EEF3FF;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0.5px 1px rgb(0 0 0 / 10%), 0px 1px 1px rgb(0 0 0 / 5%);
    border-radius: 4px;
    width: 77%;
    height: 24px;
    text-align: center;
    float: left;
    margin-left: -4px;
}

.white-box-5-a-1 {
    background: white;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0.5px 1px rgb(0 0 0 / 10%), 0px 1px 1px rgb(0 0 0 / 5%);
    border-radius: 4px;
    width: 77%;
    height: 24px;
    text-align: center;
    float: left;
    margin-left: -4px;
}


.white-box-5-a-1-adjust {
    background: white;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0.5px 1px rgb(0 0 0 / 10%), 0px 1px 1px rgb(0 0 0 / 5%);
    border-radius: 4px;
    width: 71%;
    height: 24px;
    text-align: center;
    float: left;
    margin-left: -4px;
}

.white-box-5-a-1-1 {
    background: white;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0.5px 1px rgb(0 0 0 / 10%), 0px 1px 1px rgb(0 0 0 / 5%);
    border-radius: 4px;
    width: 80%;
    height: 24px;
    text-align: center;
    float: left;
    margin-left: 14px;
    padding-right: 20px;
}

.blue-box-5-a-1-1 {
    background: #EEF3FF;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0.5px 1px rgb(0 0 0 / 10%), 0px 1px 1px rgb(0 0 0 / 5%);
    border-radius: 4px;
    width: 85%;
    height: 24px;
    text-align: center;
    float: left;
    margin-left: 14px;
    padding-right: 20px;
}


.white-box-5-b-1-1 {
    background: white;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0.5px 1px rgb(0 0 0 / 10%), 0px 1px 1px rgb(0 0 0 / 5%);
    border-radius: 4px;
    width: 80%;
    height: 24px;
    text-align: center;
    float: left;
    margin-left: 0px;
    padding-right: 20px;
}

.click-text
{
    margin-left:100px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;

height: 5px;
margin-top: 11px;
/* identical to box height, or 286% */

display: flex;
align-items: center;
letter-spacing: 0.3px;

color: #243C79;
}

.but{
    display:flex;
   justify-content:center ;
   margin-top:20px;
}



.but1
{

    width: 200px;
    height: 40px;
    left: 412px;
    top: 6432px;
    
    background: #DAE4FF;
    border-radius: 4px;
    padding-top: 6px;
    margin-right: 7px;
}

.but2
{

    width: 199px;
    height: 40px;
    left: 620px;
    top: 6432px;
    
    background: #243C79;
    border-radius: 4px;
    padding-top: 6px;
    padding-top: 6px;
    margin-right: 7px;
}

.but2-text
{

    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;

    color: #fff;
    padding-top: 3px;
}

.but3-text,.but1-text
{

    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
padding-top: 3px;

    color: 
    #243C79;
}



.but3
{
    box-sizing: border-box;

/* Auto layout */


width: 200px;
height: 40px;
left: 827px;
top: 6432px;

border: 1px solid #243C79;
border-radius: 4px;
padding-top: 6px;
padding-top: 6px;
margin-right: 2px;
}

.path1
{
    height: 44px;
    margin-left:5%;
    margin-top:17px;
    width:50%;
    padding-bottom: 0px;
}


.path1--1
{
    height: 44px;
    margin-left:5%;
    margin-top:17px;
    width:50%;
    padding-bottom: 0px;
    height:14px;
}

.path1---1
{
    height: 12px;
    margin-left:5%;
    margin-top:17px;
    width:50%;
    padding-bottom: 0px;
    height:14px;
}


.path1-1
{
    
    height: 28px;
    margin-left:5%;
    margin-top:17px;
    width:50%;
    padding-bottom: 0px;
}

.path1-1-1
{

    padding-top: 5px;
    height:125px;
    margin-left:5%;
    margin-top:17px;
    width:50%;
    padding-bottom: 0px;
}

.text-path2
{
    margin-left:10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
}