/* HEADER */
.header {
    background-color: #485568;     /* change header background color  */
    display: flex;
}

.head {

    margin-left: 10px;
    width: 33%;
    display: flex;
    margin: 20px;
    margin-left: 4%;
    display: flex;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#head1 {
    justify-content: center;
    width: 100%;
    
    margin-top: 28px;
}

#head {
    justify-content: end;
    margin-right: 7%;
}

.logout {
    margin-left: 20px;
}

.logout-text {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}

.icon {
    text-align: center;
    margin-left: -4px;
}

/* heading */
.main {
    display: flex;

}

.heading {
    text-align: left;
}

hr {
    width: 100%;
    margin-left: 8px;

}

#myimg {
    color: red;
}

/* HEADER ENDS */


/* NAVBAR STARTS */


.nav-bar-section {

    background: #F2F2F2;
    border: 1px solid #CECECE;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

.drop-effect {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.18);
}

/* NAVBAR ENDS */



/* NOTICE AREA STARTS*/
.notice-area {
    height: 36px;
    width: 100%;
    background: #8EADFD;                                                    /* change background color of notice-area */
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.notice-item {
    float: right;
    margin-right: 7%;
    margin-top: 4px;

}

/* NOTICE AREA ENDS*/


/* notice area start close*/

/* DIVIDER STARTS*/

.area21 {
    background-color: #fff;
    padding: 6px;
    padding-left: 65px;
    padding-right: 6%;
    margin-top: 8px;
}

.area2-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.area21-item {
    display: flex;
    align-items: center;
}

.area2-icon {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.area2-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.area2-hr {
    flex: 1;
    margin-left: 16px;

}

.area2-icon-arrow {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.area2-icon-back {
    height: 17px;
    width: 33px;
}

/* DIVIDER ENDS*/


.pd
{
    width:90%;
    display: flex;
    border: 1px solid #CECECE;
    border-radius: 8px;
    justify-content: center;

}

.t1
{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:5px;
    width:50%;
}

.t1-table
{
    width:95%;
   
}

.t2
{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:5px;
    width:50%;
}

.t2-table
{
    width:80%;
}

th, td {
    padding: 7px;
  }